<li role="presentation" data-view="customer/info">
    <a href="#"><i class="fa fa-fw fa-info-circle"></i>基本信息</a>
</li>
<li role="presentation" data-view="customer/creditrecord">
    <a href="#"><i class="fa fa-fw fa-id-card"></i>信用记录</a>
</li>
<li role="presentation" data-view="customer/hotelsearch">
    <a href="#"><i class="fa fa-fw fa-search"></i>酒店搜索</a>
</li>
<li role="presentation">
    <a href="#"><i class="fa fa-fw fa-th-list"></i>我的订单</a>
</li>
<li role="presentation" data-view="customer/enroll">
    <a href="#"><i class="fa fa-fw fa-star"></i>会员登记</a>
</li>