@import "bootstrap/css/bootstrap.min.css";
@import "bootstrap/css/bootstrap-theme.min.css";
@import "bootstrap/css/font-awesome.min.css";
@import "common.css";
body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
#main_container > :first-child {
  background-color: #0277BD;
  height: 100px;
  color: whitesmoke;
  display: flex;
  align-items: center;
}
#main_container > :first-child > :first-child {
  flex: 1;
  padding-left: 50px;
}
#main_container > :first-child > :nth-child(2) {
  margin-right: 10px;
  font-size: 14px;
  text-align: right;
}
#main_container > :first-child > :nth-child(3) {
  padding-right: 40px;
  font-size: 36px;
}
#main_container > :last-child {
  flex: 1;
  display: flex;
}
#main_container > :last-child > :first-child {
  width: 200px;
  background-color: #424242;
}
#main_container > :last-child > :first-child li {
  font-size: 16px;
}
#main_container > :last-child > :first-child li a {
  padding-left: 50px;
  color: #e0e0e0;
}
#main_container > :last-child > :first-child li.active a {
  background-color: #80CBC4;
  color: #333333;
}
#main_container > :last-child > :first-child li a:hover {
  color: #333333;
}
#main_container > :last-child > :first-child li i {
  margin-right: 5px;
}
#main_container > :last-child > :last-child {
  flex: 1;
}
#main_container > :last-child > :last-child > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 15px 30px;
}
#main_container > :last-child > :last-child > div .title {
  color: #0277BD;
  font-size: 36px;
  margin-bottom: 10px;
}
#main_container > :last-child > :last-child > div .flex-table > div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#main_container > :last-child > :last-child > div .flex-table > div > :last-child {
  flex: 1;
}
#main_container > :last-child > :last-child > div .page {
  display: none;
}
